<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Cập nhật</title>
    <content th:replace="fragments/init :: head"></content>
</head>
<body>



<div class="container-fluid" style="padding: 0">
    <div class="row g-0">
        <content th:replace="fragments/nav-bar :: content"></content>
        <div class="app col-10">
            <div class="header">
                <form style="width: 100%;" th:action="@{/subject/find}" method="GET">
                    <div class="search-group input-group d-flex align-items-center">
                        <button class="search-btn" type="submit" id="button-addon2">
                            <i class="fal fa-search"></i>
                        </button>
                        <input type="text" th:name="key" class="search-input" placeholder="Tìm kiếm..." aria-describedby="button-addon2">
                    </div>
                </form>
                <div class="dropdown account">
                    <button th:text="${auth.name}" class="btn-dropdown dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/user/setting}">Đổi mật khẩu</a></li>
                        <li><a class="dropdown-item" th:href="@{/logout.html}">Log out</a></li>
                    </ul>
                </div>
            </div>
            <div class="main-body">
                <div class="title-page">
                    <h4>Chỉnh sửa môn học</h4>
                </div>
                <form th:action="@{/subject/update}" method="POST">
                    <input th:name="id" hidden="true" th:value="${subject.id}"/>
                    <div class="mb-3">
                        <label class="form-label">Tên lmôn học</label>
                        <input type="text" th:name="name" th:value="${subject.name}" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Khóa</label>
                        <input type="text" th:name="grade" th:value="${subject.grade}" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mô tả</label>
                        <input type="text" th:name="description" th:value="${subject.description}" class="form-control">
                    </div>
                    <div class="btn-submit-form">
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                        <a th:href="@{/subject}" class="btn btn-danger">Hủy</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<content th:replace="fragments/init :: script"></content>

</body>
</html>