<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Danh sách lớp học</title>
    <content th:replace="fragments/init :: head"></content>
</head>
<body>

<div class="container-fluid" style="padding: 0">
    <div class="row g-0">
        <content th:replace="fragments/nav-bar :: content"></content>

        <div class="app col-10">
            <div class="header">
                <form style="width: 100%;" th:action="@{/classroom/find}" method="GET">
                    <div class="search-group input-group d-flex align-items-center">
                        <button class="search-btn" type="submit" id="button-addon2">
                            <i class="fal fa-search"></i>
                        </button>
                        <input type="text" th:name="key" class="search-input" placeholder="Tìm kiếm..." aria-describedby="button-addon2">
                    </div>
                </form>
                <div class="dropdown account">
                    <button th:text="${auth.name}" class="btn-dropdown dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Account setting</a></li>
                        <li><a class="dropdown-item" href="/logout">Log out</a></li>
                    </ul>
                </div>
            </div>
            <div class="main-body">
                <div class="title-page">
                    <h4>Danh sách lớp học</h4>
                    <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-primary" href="/classroom/create">Tạo lớp học +</a>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên lớp</th>
                        <th scope="col">Số sinh viên</th>
                        <th sec:authorize="hasAuthority('ADMIN')"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="classroom, iterStat: ${classrooms}">
                        <td  data-title="Stt" th:text="${iterStat.count}">1</td>
                        <td sec:authorize="hasAuthority('ADMIN')">
                            <a th:text="${classroom.name}" th:href="@{/classroom/{id}(id=${classroom.id})}"></a>
                        </td>
                        <td sec:authorize="hasAuthority('TEACHER')">
                            <a th:text="${classroom.name}" th:href="@{/classroom/{id}/detail(id=${classroom.id})}"></a>
                        </td>
                        <td th:text="${classroom.users.size()} + '/' + ${classroom.amount}"></td>

                        <td sec:authorize="hasAuthority('ADMIN')" class="act-td">
                            <a class="act-btn edit-btn" th:href="@{/classroom/{id}/update(id=${classroom.id})}">
                                <i class="fal fa-comment-alt-edit"></i>
                            </a>
                            <a th:if="${classroom.users.size() == 0}" th:data-id="${classroom.id}"  class="act-btn delete-btn" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                <i class="fal fa-trash"></i>
                            </a>
                            <a th:if="${classroom.users.size() != 0}" th:data-id="${classroom.id}"  class="act-btn delete-btn" data-bs-toggle="modal" data-bs-target="#preventDelete">
                                <i class="fal fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
<!--        Model xóa class         -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa lớp học</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4 class="text-danger">Bạn có chắc muốn xóa lớp học này!!!</h4>
                        <form action="/classroom/delete" method="GET">
                            <input class="delete-form" th:name="id" id="delete-id" hidden="true"/>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-danger">Xóa</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

<!--        Model không cho xóa class   -->
        <div class="modal fade" id="preventDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="">Không thể xóa lớp học này</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="text-warning">Lớp học còn sinh viên bạn không thể xóa lớp học này</p>
                        <button type="button" class="float-end btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<content th:replace="fragments/init :: script"></content>

<script>
    let id="";
    let form = $("#delete-id")
    $(".delete-btn").on('click', function() {
        id = Number($(this).attr("data-id"));
        form.val(id)
    })
</script>
</body>
</html>