<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>Thêm tài khoản</title>
  <content th:replace="fragments/init :: head"></content>
</head>

<body>
<div class="container-fluid" style="padding: 0">
  <div class="row g-0">
    <content th:replace="fragments/nav-bar :: content"></content>
    <div class="app col-10">
      <div class="main-body">
        <div class="title-page">
          <h4>Thêm tài khoản mới</h4>
        </div>
        <form th:action="@{/user/add}" th:object="${userModel}" id="formCreate" method="POST">
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" id="username" th:field="*{username}" class="form-control">
            <p class="msg-danger" th:if="${#fields.hasErrors('username')}">*Username đã tồn tại</p>
          </div>
          <div class="mb-3">
            <label class="form-label">Mật khẩu</label>
            <input type="text" id="password" th:field="*{password}" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Họ và tên</label>
            <input type="text" id="name" th:field="*{name}" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Ngày sinh</label>
            <div class="col-5">
              <div class="input-group date" id="datepicker">
                <input type="text" id="date" th:field="*{dob}" class="form-control"/>
                <span class="input-group-append"></span>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Giới tính</label>
            <select class="form-select form-select-lg classId" id="gender" th:field="*{gender}" aria-label=".form-select-lg example">
              <option th:value="null" selected>-Giới tính-</option>
              <option th:value="Nam" th:text="Nam"></option>
              <option th:value="Nữ" th:text="Nữ"></option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" id="email" th:field="*{email}" class="form-control">
            <p class="msg-danger" th:if="${#fields.hasErrors('email')}">*Email đã tồn tại</p>
          </div>
          <div class="mb-3">
            <label class="form-label">Số điện thoại</label>
            <input type="text" id="phone" th:field="*{phone}" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Địa chỉ</label>
            <input type="text" id="address" th:field="*{address}" class="form-control">
          </div>
          <div class="mb-3">
            <label>Phân quyền</label>
            <div class="form-check">
              <input checked="true" class="form-check-input role-input" type="radio" th:field="*{roleId}" th:value="0" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Học sinh
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input role-input" type="radio" th:field="*{roleId}" th:value="1" name="flexRadioDefault" id="flexRadioDefault2">
              <label class="form-check-label" for="flexRadioDefault2">
                Giáo viên
              </label>
            </div>
          </div>

          <div class="mb-3 select-item active">
            <label class="form-label">Lớp học</label>
            <select class="form-select form-select-lg classId" id="classId" th:field="*{classId}" aria-label=".form-select-lg example">
              <option value="" selected>Chọn lớp học</option>
              <option th:each="classroom: ${classrooms}"  th:value="${classroom.id}" th:text="${classroom.name}"></option>
            </select>
          </div>
          <div class="mb-3 select-item">
            <label class="form-label">Dạy môn</label>
            <select disabled class="form-select form-select-lg classId" id="subjectId" th:field="*{subjectId}" aria-label=".form-select-lg example">
              <option value="" selected>Chọn môn học</option>
              <option th:each="subject: ${subjects}"  th:value="${subject.id}" th:text="${subject.name} + ' (Lớp: ' + ${subject.grade} + ')'"></option>
            </select>
          </div>

          <div class="mb-4 btn-submit-form">
            <button type="submit" class="btn btn-primary">Thêm</button>
            <a th:href="@{/user/list}" class="btn btn-danger">Hủy</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" type="text/javascript"></script>
<content th:replace="fragments/init :: script"></content>

<script type="text/javascript">
  $(function() {
    $('#datepicker').datepicker({
      format: 'dd/mm/yyyy'
    });
  });

  let tabs = $(".role-input");
  let contents = $(".select-item");
  tabs.each((index, tab) => {
    tab.onclick = () => {
      $('.select-item.active select').attr('disabled', 'disabled');
      $(".select-item.active").removeClass("active");
      $(contents.get(index)).addClass("active");
      $('.select-item.active select').removeAttr('disabled');
    }
  })

  $().ready(function() {
    $("#formCreate").validate({
      rules: {
        username: "required",
        name: "required",
        gender: "required",
        classId: "required",
        subjectId: "required",
        email: {
          required: true,
        },
        password: {
          required: true,
          minlength: 6
        }
      },

      messages: {
        username: "Please enter username",
        name: "Please enter fullname",
        gender: "Please select gender",
        classId: "Please select classroom",
        subjectId: "Please select subject",
        password: {
          required: "Please provide a password",
          minlength: "Your password must be at least 6 characters long"
        },
        email: "Please enter a valid email address"
      }
    });
  });

</script>
</body>
</html>